@keyframes load-wheel {
    0% {
        top: 48px;
        left: 48px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -1px;
        left: -1px;
        width: 98px;
        height: 98px;
        opacity: 0;
    }
}
.load-wheel div {
  position: absolute;
  border-width: 3px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: load-wheel 1.5s cubic-bezier(0,0.2,0.8,1) infinite;
}
.load-wheel div:nth-child(1) {
  border-color: #ffffff;
  animation-delay: 0s;
}
.load-wheel div:nth-child(2) {
  border-color: #ffffff;
  animation-delay: -0.5s;
}
.load-wheel-container {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
}
.load-wheel {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.load-wheel div { box-sizing: content-box; }
