@font-face {
    font-family: Hack;
    src: url(Hack-Regular.ttf);
}

@font-face {
    font-family: Hack;
    src: url(Hack-Bold.ttf);
    font-weight: bold;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    min-height: 0;
    font-family: Hack;
}

.main {
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    overflow: hidden;
    display: grid;
}

.main > * {
    grid-area: 1 / 1;
}

.modal-panel {
    width: 460px;
    height: fit-content;
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    vertical-align: middle;
    padding: 20px;
    border-radius: 6px;
    background: #4d4d4df7;
    color: #ffffff;
}

@media (max-width: 460px) {
    .modal-panel {
        width: 98%;
    }
}

.modal-visible {
    z-index: 101;
    opacity: 1;
}

.modal-hidden {
    z-index: -1;
    opacity: 0;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top-panel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.5s linear;
}

.top-panel > img:not(.logo) {
    height: 48px;
}

.logo {
    height: 58px;
    margin-right: auto;
}

@media (max-width: 900px) {
    .top-panel {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.content-container {
    height: 100%;
    z-index: 100;
    background-color: #020202d1;
    backdrop-filter: blur(15px);
    display: grid;
    grid-template-rows: fit-content(100px) 1fr;
}

.aside-section {
    width: 100%;
    background-color: #4d4d4d94;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.aside-stack {
    display: grid;
    height: 100%;
    overflow: hidden;
}

.playlist-open {
    grid-template-columns: 100% 0% 0%;
}

.search-open {
    grid-template-columns: -0% 100% 0%;
}

.artist-open {
    grid-template-columns: -0% -0% 100%;
}

.aside-stack > div {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    display: grid;
}

.aside-page {
    grid-template-rows: auto 1fr;
}

.content {
    display: grid;
    color: #ffffff;
}

.ct-layout {
    grid-template-columns: 100% 0% 0%;
}

.ct-layout-open {
    grid-template-columns: 70% 28% 2%;
}

@media (max-width: 1600px) {
    .ct-layout-open {
        grid-template-columns: 60% 38% 2%;
    }
}

@media (max-width: 900px) {
    .ct-layout-open {
        grid-template-columns: 2% 96% 2%;
    }
}

.current-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.current {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.current-hide {
}

@media (max-width: 900px) {
    .current-hide {
        visibility: hidden;
    }
}

.hide-item {
    visibility: hidden;
    overflow: hidden;
}

.hide-item-n {
    visibility: hidden;
    display: none;
}

.playlist-element {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    padding: 8px;
}

.playable-element {
    display: grid;
    grid-template-columns: 50px 1fr 32px;
    align-items: center;
    padding: 8px;
}

.playable-element:hover {
    transition: .5s ease;
    background-color: #4d4d4d94;
}

.playable-element-artist {
    display: grid;
    grid-template-columns: 1fr 32px;
    align-items: center;
    padding: 5px;
}

.playable-element-artist:hover {
    transition: .5s ease;
    background-color: #4d4d4d94;
}

.artist-only {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 8px;
}

.artist-page {
    grid-template-columns: 0% 100%;
}

.artist-not-page {
    grid-template-columns: 100% 0%;
}

.artist-not-sel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.artist-not-sel-icon {
    width: 96px;
}

.artist-res-page {
    display: grid;
    grid-template-rows: auto 1fr;
}

.blured-bg {
    width: 100%;
    height: 100%;
}

.song-art {
    display: inline-block;
    object-fit: cover;
    width: min(70vw, 300px);
    height: min(60vh, 300px);
    margin-inline: auto;
    border-radius: 7px;
    box-shadow: 0px 4px 10px #0000003c;
}

.song-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.aside-song-art {
    display: inline-block;
    object-fit: cover;
    width: min(70vw, 50px);
    height: min(60vh, 50px);
    margin-inline: auto;
    border-radius: 7px;
    box-shadow: 0px 4px 10px #0000003c;
}

.loader {
    background: linear-gradient(90deg, #fff0 33%, #ffffff1c 50%,#fff0 66%);
    background-size: 300% 100%;
    animation: l1 1s infinite linear;
}
@keyframes l1 {
    0% {background-position: right}
}

.aside-song-title {
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    padding-left: 20px;
}

.clickable:hover {
    cursor: pointer;
    transition: .5s ease;
    color: #b7b7b5;
}

a {
    color: black;
    text-decoration: none;
}

.aside-title {
    padding-bottom: 10px;
}

body {
    line-height: 1.75em;
    font-size: 16px;
    color: #aaa;
}

.simple-container {
    max-width: 675px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 20px;
}

.simple-print {
    fill: white;
    stroke: white;
}
.simple-print svg {
    height: 100%;
}

.simple-close {
    color: white;
    border-color: white;
}

.simple-ext-info {
    border-top: 1px solid #aaa;
}

p {
    font-size: 16px;
}

h1 {
    font-size: 30px;
    line-height: 34px;
}

h2 {
    font-size: 20px;
    line-height: 25px;
}

h3 {
    font-size: 16px;
    line-height: 27px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #D8D8D8;
    border-top: 1px solid #D8D8D8;
}

hr {
    height: 1px;
    background-color: #d8d8d8;
    border: none;
    width: 100%;
    margin: 0px;
}

a[href] {
    color: #1e8ad6;
}

a[href]:hover {
    color: #3ba0e6;
}

li {
    line-height: 1.5em;
}

aside,
[class *= "sidebar"],
[id *= "sidebar"] {
    max-width: 90%;
    margin: 0 auto;
    border: 1px solid lightgrey;
    padding: 5px 15px;
}

input[type='range']{
    accent-color: white;
    width: 250px;
}

@media (min-width: 1921px) {
    body {
        font-size: 18px;
    }
}

.in {
    width: 100%;
    height: 50px;
    line-height: 30px;
    padding: 0 1rem;
    border: 2px solid transparent;
    border-radius: 10px;
    outline: none;
    background-color: #4d4d4d94;
    color: #ffffff;
    border-color: #ffffff;
    transition: .5s ease;
}

.in::placeholder {
  color: #ffffff;
}

.in:focus, .in:hover {
    outline: none;
    background-color: #4d4d4d94;
    box-shadow: 0 0 0 5px rgb(255 255 255 / 30%);
}

.in-search {
    width: 100%;
    height: 50px;
    line-height: 30px;
    border: 2px solid transparent;
    border-radius: 10px;
    outline: none;
    background-color: #4d4d4d94;
    color: #ffffff;
    border-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr auto;
    overflow: hidden;
}

.in-search:focus-within, .in-search:hover {
    transition: .5s ease;
    outline: none;
    background-color: #4d4d4d94;
    box-shadow: 0 0 0 5px rgb(255 255 255 / 30%);
}

.in-search > * {
    height: 50px;
    line-height: 30px;
    padding: 0 1rem;
    outline: none;
    background-color: inherit;
    color: #ffffff;
    border-color: #ffffff;
    border-width: 0;
}

.in-search > select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-position: right 0px center;
}

.listing-box {
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 20px;
}

.songs-box {
    overflow-x: hidden;
    overflow-y: auto;
}

.toast {
    visibility: hidden;
    min-width: 300px;
    background-color: #4d4d4df7;
    color: #ffffff;
    text-align: center;
    border-radius: 60px;
    padding: 16px;
    position: fixed;
    z-index: 102;
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: 30px;
    font-size: 17px;
}

.toast-show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
    animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.nav-button {
    padding: 8px;
    border-radius: 7px;
}

.nav-button:hover {
    transition: all 0.5s linear;
    background: #4d4d4d94;
}

.nav-dir {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
    background: #4d4d4d94;
}

.nav-dir:hover {
    transition: all 0.5s linear;
    background: none;
}

.nav-dir-selected {
    background: none;
}

.nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.page-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}
